<header class="header">
    <a class="logo-container" routerLink="/" class="flex items-center gap-2 px-2">
        <img src="../../../assets/logo.webp" width="48" height="48" alt="MeteoDAW logo" priority />
        <span class="logo m-0">MeteoDAW</span>
    </a>
    <div class="nav">
        <ul class="nav-items">
            <li routerLinkActive="nav-item--active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-item" routerLink="/">{{ contentLangService.content().header.home }}</a>
            </li>
            <li routerLinkActive="nav-item--active">
                <a class="nav-item" routerLink="/weather">{{ contentLangService.content().header.weather }}</a>
            </li>
            <li routerLinkActive="nav-item--active">
                <a class="nav-item" routerLink="/map">{{ contentLangService.content().header.map }}</a>
            </li>
            <li routerLinkActive="nav-item--active">
                <a class="nav-item" routerLink="/about">{{ contentLangService.content().header.about }}</a>
            </li>
            <li routerLinkActive="nav-item--active">
                <a class="nav-item" routerLink="/contact">{{ contentLangService.content().header.contact }}</a>
            </li>
            <li routerLinkActive="nav-item--active">
                <a class="nav-item" routerLink="/faq">{{ contentLangService.content().header.faq }}</a>
            </li>
            <li routerLinkActive="nav-item--active">
                <a class="nav-item" routerLink="/glossary">{{ contentLangService.content().header.glossary }}</a>
            </li>
            <li>
                <select name="language" id="language" aria-label="Select language" (change)="onLangChange($event)" [value]="selectedLang()">
                    @for (lang of languages; track lang.code) {
                    <option [value]="lang.code" [selected]="selectedLang() === lang.code">{{ lang.label }}</option>
                    }
                </select>
            </li>
        </ul>
    </div>
</header>