<header class="header">
    <a class="logo-container" routerLink="/" class="flex items-center gap-2 px-2">
        <img src="../../../assets/logo.webp" width="48" height="48" alt="MeteoDAW logo" priority />
        <span class="logo m-0">MeteoDAW</span>
    </a>
    <div class="nav">
        <ul class="nav-items">
            <li routerLinkActive="nav-item--active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-item" routerLink="/">Home</a>
            </li>
            <li routerLinkActive="nav-item--active">
                <a class="nav-item" routerLink="/weather">Weather</a>
            </li>
            <li routerLinkActive="nav-item--active">
                <a class="nav-item" routerLink="/map">Map</a>
            </li>
            <li routerLinkActive="nav-item--active">
                <a class="nav-item" routerLink="/about">About</a>
            </li>
            <li routerLinkActive="nav-item--active">
                <a class="nav-item" routerLink="/contact">Contact</a>
            </li>
            <li routerLinkActive="nav-item--active">
                <a class="nav-item" routerLink="/faq">FAQ</a>
            </li>
            <li routerLinkActive="nav-item--active">
                <a class="nav-item" routerLink="/gloassary">Glossary</a>
            </li>
        </ul>
    </div>
</header>
