<header class="header">
    <a class="logo-container" routerLink="/" class="flex items-center gap-2 px-2">
        <img src="../../../assets/logo.webp" width="48" height="48" alt="MeteoDAW logo" priority />
        <span class="logo m-0">MeteoDAW</span>
    </a>
    <div class="nav">
        <ul class="nav-items">
            <li class="nav-item" routerLink="/">Home</li>
            <li class="nav-item" routerLink="/weather">Weather</li>
            <li class="nav-item" routerLink="/map">Map</li>
            <li class="nav-item" routerLink="/about">About</li>
            <li class="nav-item" routerLink="/contact">Contact</li>
            <li class="nav-item" routerLink="/faq">FAQ</li>
            <li class="nav-item" routerLink="/gloassary">Glossary</li>
        </ul>
    </div>
</header>
