.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	background-color: var(--primary-color);
	color: var(--text-color);
    box-shadow: 0 2px 8px var(--shadow-dark);
}

.logo {
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 0.2px;
}

.nav {
	display: flex;
	align-items: center;
}

.nav-items {
	display: flex;
	gap: 2rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-item {
	cursor: pointer;
	font-size: 1.1rem;
	padding: 0.5rem 1rem;
	border-radius: 50px;
	transition: background 0.2s, color 0.2s;
}

.nav-item:hover {
	background: rgba(0, 0, 0, 0.18);
}

.nav-item[routerLinkActive] {
	background: #fff;
	color: var(--primary-color);
	font-weight: bold;
}
