<div>
    <form (ngSubmit)="onSubmit()" class="search">
        <input type="text" class="shadow-md" placeholder="Search city" aria-label="Search city" name="city" [(ngModel)]="city">
        <button type="submit" class="transition-colors shadow-md">🔎 Search</button>
    </form>
</div>

@if (weatherData) {
    <div class="container">
        <div class="upper-data">
            <img [src]="weatherData.temp < 15 ? 'assets/cold-land-day.webp' : 'assets/hot-land-day.webp'" alt="Weather Image">
            <div class="weather-data">
                <div class="location">{{ weatherData.name }}</div>
                <div class="temperature">{{ weatherData.temp | number: '1.0-0' }}°C</div>
            </div>
        </div>
        <div class="lower-data">
            <div class="more-info-label">Details:</div>
            <div class="more-info-container">
                <div class="info-block">
                    <div class="info-block-label">
                        <img src="assets/min.svg" style="color: var(--text-color);" alt="Min temperature">
                        <span>min</span>
                    </div>
                    <div class="info-block-value">
                        {{ weatherData.minTemp | number: '1.0-0' }}ºC
                    </div>
                </div>
                
                <div class="info-block">
                    <div class="info-block-label">
                        <img src="assets/max.svg" alt="Max temperature">
                        <span>max</span>
                    </div>
                    <div class="info-block-value">
                        {{ weatherData.maxTemp | number: '1.0-0' }}ºC
                    </div>
                </div>

                <div class="info-block">
                    <div class="info-block-label">
                        <img src="assets/humidity.svg" alt="Humidity">
                        <span>humidity</span>
                    </div>
                    <div class="info-block-value">
                        {{ weatherData.humidity }}%
                    </div>
                </div>

                <div class="info-block">
                    <div class="info-block-label">
                        <img src="assets/wind.svg" alt="Wind">
                        <span>wind</span>
                    </div>
                    <div class="info-block-value">
                        {{ weatherData.wind | number: '1.0-0' }} km/h
                    </div>
                </div>

            </div>
        </div>
    </div>
} @else {
    <div class="container">
        <div class="upper-data">
            <img src="assets/hot-land-day.webp" alt="Placeholder Image">
            <div class="weather-data">
                <div class="location"></div>
                <div class="temperature"><span class="loading loading-bars loading-xl"></span></div>
            </div>
        </div>
        <div class="lower-data">
            <div class="more-info-label">Details:</div>
            <div class="more-info-container">
                <div class="info-block">
                    <div class="info-block-label">
                        <img src="assets/min.svg" style="color: var(--text-color);" alt="Min">
                        <span>min</span>
                    </div>
                    <div class="info-block-value">
                        <span class="loading loading-bars loading-sm"></span>
                    </div>
                </div>
                <div class="info-block">
                    <div class="info-block-label">
                        <img src="assets/max.svg" style="color: var(--text-color);" alt="Min">
                        <span>max</span>
                    </div>
                    <div class="info-block-value">
                        <span class="loading loading-bars loading-sm"></span>
                    </div>
                </div>
                <div class="info-block">
                    <div class="info-block-label">
                        <img src="assets/humidity.svg" style="color: var(--text-color);" alt="Min">
                        <span>humidity</span>
                    </div>
                    <div class="info-block-value">
                        <span class="loading loading-bars loading-sm"></span>
                    </div>
                </div>
                <div class="info-block">
                    <div class="info-block-label">
                        <img src="assets/wind.svg" style="color: var(--text-color);" alt="Min">
                        <span>wind</span>
                    </div>
                    <div class="info-block-value">
                        <span class="loading loading-bars loading-sm"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}