
.glossary-container {
    box-shadow: 0 4px 8px var(--shadow-dark);
    border-radius: 10px;
    background-color: white;
    scrollbar-width: auto;
    scrollbar-color: var(--primary-color) #f0f0f0;
    padding: 10px;
}

table {
    z-index: 1;
}

thead, thead th {
    background-color: var(--primary-color);
    color: var(--text-color);
}

tbody tr {
    background-color: white;
    color: black;
}

tbody tr:hover {
    background-color: var(--secondary-color);
    color: black;
}