@import "tailwindcss";

:root {
    --primary-color: #3490dc;
    --primary-color-alt: #6574cd;
    --secondary-color: #ffed4a;
    --shadow-dark: rgba(0, 0, 0, 0.4);
    --text-color: #ffffff;
    --font-family: 'Helvetica Neue', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--primary-color-alt);
    color: var(--text-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    height: 60vh;
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--shadow-dark);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.upper-data {
    position: relative;
    overflow: hidden;
    height: 50%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.upper-data img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.weather-data {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location {
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: center;
}

.temperature {
    color: var(--text-color);
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
}

.more-info-label {
    color: var(--text-color)
}

.more-info-container {
    flex: 1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-block {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-block-label {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-block-label img {
    width: 2rem;;
}

.info-block-label span {
    color: var(--text-color);
    font-size: 0.8rem;
}

.lower-data {
    position: relative;
    overflow: hidden;
    height: 50%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}