@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}


:root {
    --primary-color: #1f4c8e;
    --primary-color-alt: #C0E2FF;
    --secondary-color: #ffed4af2;
    --secondary-color-alt: #ffde07;
    --shadow-dark: rgba(0, 0, 0, 0.3);
    --text-color: #ffffff;
    --font-family: Roboto, sysytem-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--primary-color-alt);
    color: var(--text-color);
}

body {
    margin: 0;
    min-height: 100vh;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}